@import '../../variables';

.nav-top{
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
}

.nav-item{
    border-bottom: 3px rgba(0, 0, 0, 0) solid;
}
.selected{
    border-bottom: 3px $secondary-color solid;
}