<div class="nav-top">
    <div
    class="nav-item"
    [class]="currentPage === ''?'selected':''"
    >
        <button [routerLink]="''" mat-button>
            <h1>Pride Cycle Simulation</h1>
        </button>
    </div>

    <div
    class="nav-item"
    [class]="currentPage === 'about'?'selected':''"
    >
        <button [routerLink]="'about'" mat-button>        
            <div>About</div>
        </button>
    </div>

    <div
    class="nav-item"
    [class]="currentPage === 'simulation'?'selected':''"
    >
        <button [routerLink]="'simulation'" mat-button>        
            <div>Simulation</div>
        </button>
    </div>
</div>