<div class="navbar">
    <div class="nav-top">
        <div 
        class=""
        [class]="selectedPage === '/'?'selected':''"
        #homeLink
        >
            <button  
            class="nav-button main-nav-item"
            mat-button 
            [routerLink]="''"
            >
                <div
                class="nav-button"
                >
                    <img 
                    (load)="update()"
                    class="nav-img" 
                    src="favicon.webp">
                    <h1>Pride Cycle Simulation</h1>
                </div>
            </button>
        </div>

        <div 
        [class]="selectedPage === '/simulation'?'selected':''"
        #simulationLink
        >
            <button  
            class="nav-button"
            mat-button
            [routerLink]="'simulation'"
            >
                Simulation
            </button>
        </div>
    </div>

    <div 
    #underline
    class="underline"
    [style.transition]="'margin ' + navAnimationTime + ', width ' + navAnimationTime"
    >
    </div>
</div>