<div class="navbar">
    <div class="nav-top">
        <div 
        class="nav-item" 
        [class]="selectedPage === '/'?'selected':''"
        #homeLink
        >
            <button  
            mat-button 
            [routerLink]="''"
            >
                <h1>Pride Cycle Simulation</h1>
            </button>
        </div>

        <div 
        class="nav-item" 
        [class]="selectedPage === '/about'?'selected':''"
        #aboutLink
        >
            <button  
            mat-button
            [routerLink]="'about'"
            >
                About
            </button>
        </div>

        <div 
        class="nav-item" 
        [class]="selectedPage === '/simulation'?'selected':''"
        #simulationLink
        >
            <button  
            mat-button
            [routerLink]="'simulation'"
            >
                Simulation
            </button>
        </div>
    </div>

    <div 
    #underline
    class="underline"
    [style.transition]="'margin ' + navAnimationTime + ', width ' + navAnimationTime"
    >
    </div>
</div>