.grid{
    display: flex;
    flex-direction: column;
    border: 2px gray solid;
    width: min-content;
}
.row{
    display: flex;
}
.cell{
    width: 30px;
    height: 30px;
    border: 2px gray solid;
}
.center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.key-item{
    display: flex;
    align-items: center;
    padding: 5px;
}
.key-label{
    margin-left: 5px;
}