<mat-card class="center-col">
      <mat-card-title>simulation</mat-card-title>
      <div class="boxes">
            <div 
            class="box" 
            (click)="setSelectedClickOperation('pride')"
            [class]="selectedClickOperation === 'pride'?'selected':''"
            [style.background-color]="'rgb(255,0,0)'"
            ></div>
            <div 
            class="box" 
            (click)="setSelectedClickOperation('humility')"
            [class]="selectedClickOperation === 'humility'?'selected':''"
            [style.background-color]="'rgb(0,0,255)'"
            ></div>
      </div>

      <mat-card-content class="center-col">
            <div>speed</div>
            <mat-slider
            [min]=".5" 
            [max]="10" 
            [step]=".5"
            >
                  <input matSliderThumb [(value)]="speed" [step]=".05">
            </mat-slider>

            <button class="play-button" mat-button raised (click)="togglePlay()">
                  @if(playing){
                        <mat-icon class="play-icon" fontIcon="pause"></mat-icon>
                  } @else {
                        <mat-icon class="play-icon" fontIcon="play_arrow"></mat-icon>
                  }
            </button>
       
            <div class="grid">
                  <div *ngFor="let row of simulationGrid; let y=index" class="row">
                        <div *ngFor="let cell of row; let x=index" class="cell"
                        [style.background-color]="getRgb(cell)"
                        (click)="handleBoxClick(x,y)"
                        ></div>
                  </div>
            </div>
            <button (click)="test()">
                  test
            </button>

            <h2>KEY</h2>
            <div class="key">
                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(255,0,0)'" 
                        class="key-cell cell">
                        </div>
                        <label class="key-label">Prideful</label>
                  </div>
                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(0,0,255)'" 
                        class="key-cell cell">
                        </div>
                        <label class="key-label">Humble</label>
                  </div>

                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(0,0,0)'" 
                        class="key-cell cell">
                        </div>
                        <label class="key-label">Poor</label>
                  </div>
                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(255,255,255)'" 
                        class="key-cell cell">
                        </div>
                        <label class="key-label">Prosperous</label>
                  </div>
            </div>
      </mat-card-content>
</mat-card>
