<mat-card class="center-col">
      <mat-card-title>simulation</mat-card-title>

      <mat-card-content class="center-col">
            <div>Prosperity</div>
            <mat-slider>
                  <input matSliderThumb [(value)]="Prosperity_factor">
            </mat-slider>
            
            <div>Pride</div>
            <mat-slider min="0" max="100" step="1">
                  <input matSliderThumb [(value)]="pride_factor">
            </mat-slider>

            <h2>KEY</h2>
            <div class="key">
                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(255,0,0)'" 
                        class="key-item cell">
                        </div>
                        <label class="key-label">Pride</label>
                  </div>

                  <div class="key-item">
                        <div 
                        [style.background-color]="'rgb(0,0,255)'" 
                        class="key-item cell">
                        </div>
                        <label class="key-label">Prosperity</label>
                  </div>
            </div>
            <div class="grid">
                  <div *ngFor="let row of grid" class="row">
                        <div *ngFor="let cell of row" class="cell"
                        [style.background-color]="cell.getRgb()"
                        ></div>
                  </div>
            </div>
      </mat-card-content>
</mat-card>