/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-page{
    padding: 15px 40px;
}
.text-page h1{
    justify-self: center;
    text-align: center;
}
