/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white; }

.text-page{
    background-color: $light-gray;
    padding: 15px 8%;
    margin: 15px 10%;
    border-radius: 5px;
}
.text-page h1{
    justify-self: center;
    text-align: center;
    border-bottom: $secondary-color 4px solid;
}
.text-page p {
    font-size: 20px;
    line-height: 30px;
    text-indent: 40px;
}
.text-page p.no-indent{
    text-indent: 0;
}

